<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bootstrap css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- favicon link -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- main css  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% if title %}{title}{% else %}Flask Library{% endif %}{% endblock %}</title>
</head>
<body>
  <!-- main header - black one in top -->
  <nav class="navbar navbar-expand-md navbar-dark bg-black">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-info" href="#home">Flask<i class="material-icons">&#xe54b;</i>Library</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Help</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#">Advanced Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Borrow a Book</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-info " id="loginBtn" >Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-info ms-2 me-2" href="#">Apply a Card</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control search-form" type="search" placeholder="title,author..." aria-label="Search">
            <button class="btn btn-info" type="submit">Search</button>
          </form>
        </div>
      </div>
  </nav>
  <!-- bottom header - categories -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu dropdown-menu-dark bg-opacity-75" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-dark bg-opacity-75" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
          </ul>
      </div>
  </nav>
  <!-- Login Modal -->
  <div id="simpleModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Login to your accuont</h3>
            <span class="closeBtn">&times;</span>
        </div>
        <form class="m-3" id="loginForm">
            <div class="form-group">
              <p class="login-form-message alert alert-danger">Please fill the form and try again!!</p>
              <label for="exampleInputEmail1" class="mb-1">Email address:</label>
              <input name="email" type="email" class="form-control mb-2" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group mt-1">
              <label for="exampleInputPassword1" class="mb-1">Password:</label>
              <input name="password"" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-info w-100 mt-3 ">Submit</button>
        </form>
    </div>
  </div>
  <!-- flash messages section -->
  <section style="margin-top:30px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}" style="text-align: center;font-size: large;" role="banner">
          {{ message }}
        <div>
      {% endfor %}
    {% endwith %}
  </section>
  <main role="main" class="container">
    {% block content %}{% endblock %}
  </main>
  <!-- Footer -->
  <footer class="footer fixed-bottom font-small bg-dark text-light">
    <div class="footer-copyright text-center py-3">©2021 Copyright:
        <a href="https://sajadzarei.ir/">sajadzarei</a>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>